<!-- src/app/components/military-hierarchy/military-hierarchy.component.html -->
<div class="tab-content">
  <!-- Military Hierarchy -->
  <div class="form-section" [formGroup]="militaryHierarchyForm">
    <h2>{{ 'PERSONNEL.MILITARY_HIERARCHY.TITLE' | translate }}</h2>
    <div class="form-row">
      <div class="form-group">
        <label for="number">{{ 'PERSONNEL.MILITARY_HIERARCHY.NUMBER' | translate }}</label>
        <input type="text" id="hierarchyNumber" formControlName="number">
      </div>
      <div class="form-group">
        <label for="abbreviatedRank">{{ 'PERSONNEL.MILITARY_HIERARCHY.ABBREVIATED_RANK' | translate }}</label>
        <input type="text" id="abbreviatedRank" formControlName="abbreviatedRank">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="rank">{{ 'PERSONNEL.MILITARY_HIERARCHY.RANK' | translate }}</label>
        <select id="rank" formControlName="rank">
          <option value="">{{ 'COMMON.SELECT' | translate }}</option>
          @for (rank of ranks; track rank) {
          <option [value]="rank">{{ rank.rankAbbreviation }}</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label for="branch">{{ 'PERSONNEL.MILITARY_HIERARCHY.BRANCH' | translate }}</label>
        <input type="text" id="branch" formControlName="branch">
      </div>
      <div class="form-group">
        <label for="registrationNumber">{{ 'PERSONNEL.MILITARY_HIERARCHY.REGISTRATION_NUMBER' | translate }} <span
            class="required">*</span></label>
        <input type="text" id="registrationNumber" formControlName="registrationNumber">
        <div class="error-message" *ngIf="militaryHierarchyForm.get('registrationNumber')?.invalid &&
                    militaryHierarchyForm.get('registrationNumber')?.touched">
          {{ 'ERRORS.REGISTRATION_NUMBER_REQUIRED' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>