<div class="container">
  <form [formGroup]="militaryForm">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab [label]="'TABS.PERSON' | translate">
        <app-personnel [formGroup]="militaryForm"></app-personnel>
      </mat-tab>
      <mat-tab [label]="'TABS.MILITARY_HIERARCHY' | translate">
        <app-military-hierarchy [formGroup]="militaryForm"></app-military-hierarchy>
      </mat-tab>
      <mat-tab [label]="'TABS.QUALIFICATIONS' | translate">
        <app-qualifications [formGroup]="militaryForm"></app-qualifications>
      </mat-tab>
      <mat-tab [label]="'TABS.ASSIGNMENT_SCHEDULE' | translate">
        <app-assignment-work-schedule [formGroup]="militaryForm"></app-assignment-work-schedule>
      </mat-tab>
      <mat-tab [label]="'TABS.DOCUMENTS_HISTORY' | translate">
        <app-documents-history [formGroup]="militaryForm"></app-documents-history>
      </mat-tab>
      <mat-tab [label]="'TABS.CONTACTS_DEPENDENTS' | translate">
        <app-contact-dependents [formGroup]="militaryForm" [dependents]="dependents"></app-contact-dependents>
      </mat-tab>
    </mat-tab-group>

    <!-- Action buttons -->
    <div class="actions">
      <button type="button" class="secondary" (click)="clearForm()">{{ 'BUTTONS.CLEAR' | translate }}</button>
      <button type="button" (click)="submitForm()">{{ 'BUTTONS.SUBMIT' | translate }}</button>
    </div>

    <!-- JSON result display -->
    <pre id="result" *ngIf="showResult">{{ jsonResult }}</pre>
  </form>
</div>