<div class="container">
  <form [formGroup]="militaryForm">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Person">
        <app-personel [formGroup]="militaryForm"></app-personel>
      </mat-tab>
      <mat-tab label="Military Hierarchy">
        <app-military-hierarchy [formGroup]="militaryForm"></app-military-hierarchy>
      </mat-tab>
      <mat-tab label="Qualifications">
        <app-qualifications [formGroup]="militaryForm"></app-qualifications>
      </mat-tab>
      <mat-tab label="Assignment & Schedule">
        <app-assignment-work-schedule [formGroup]="militaryForm"></app-assignment-work-schedule>
      </mat-tab>
      <mat-tab label="Documents & History">
        <app-documents-history [formGroup]="militaryForm"></app-documents-history>
      </mat-tab>
      <mat-tab label="Contacts & Dependents">
        <app-contact-dependents [formGroup]="militaryForm" [dependents]="dependents"></app-contact-dependents>
      </mat-tab>
    </mat-tab-group>

    <!-- Action buttons -->
    <div class="actions">
      <button type="button" class="secondary" (click)="clearForm()">Clear</button>
      <button type="button" (click)="submitForm()">Submit</button>
    </div>

    <!-- JSON result display -->
    <pre id="result" *ngIf="showResult">{{ jsonResult }}</pre>
  </form>
</div>
